body {
	margin:0;
	font-family: arial;
}

main {
	padding: 10px 30px;
	font-size: 18px;
}

.tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0b172a;
}

.tabs a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.tab {
	padding: 10px;
	float: left;
}

.tab:hover {
	background-color: #bc4123;
}

.templates {
	float: left;
	margin: 20px;
	margin-bottom: -20px;
}

.template {
	width: 251px;
	height: 150px;
	background-color: #0b172a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	color: white;
	font-size: 20px;
}

.templateDate {
	color: white;
	font-size: 14px;
	position: relative;
	bottom: 40px;
	left: 15px;
}

.templateModal {
	display: none;
}