<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Workout Templates</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<header>
		<nav>
			<ul class="tabs">
				<li class="tab"><a href="/">Active</a></li>
				<li class="tab"><a href="/workouts">Workout</a></li>
				<li class="tab"><a href="/history">History</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<div>
			<h1>Workouts</h1>
			
			<a class="createTemplate" href="/create-template">Workout Template +</a>
		</div>
		
		<div class="templates" th:each="template: ${templatesDisplay.templates}">
			<button class="template" th:text="${template.name}"></button>
			<p class="templateDate">Date</p>
			
			<div class="templateModal">
				<div class="modalHeader">
					<span class="closeModal">&times</span>
					<h2 th:text="${template.name}"></h2>
					<a href="/">Edit</a>
					<button>Delete</button>
				</div>
				<div class="modalContent">
					<div th:each="exercise: ${template.exercises}">
						<p th:text="${'Sets x ' + exercise.exercise.name}"></p>
					</div>
				</div>
				<div class="modalFooter">
					<a href="/">Start Workout</a>
				</div>
			</div>
		</div>
	</main>
	
	<script type="text/javascript" src="/js/templateFunction.js"></script>
</body>
</html>